
.spidertobey img{

    margin:auto;
    display: block;
    width: 600px;
    height: 700px;
    float: right;
    margin-right: 40px;
    
    
    }



.spiderandrew img{

        margin:auto;
        display: block;
        width: 600px;
        height: 700px;
        float: right;
        margin-right: 40px;
        
        
    }    



    .spidertom img{

        margin:auto;
        display: block;
        width: 600px;
        height: 700px;
        float: right;
        margin-right: 40px;
        
        
    }    



    